table {
  border-collapse: collapse;
  margin-left: 500px;
  width: 50%;
}

table, th, td {
  border: 1px solid black;
}
th {
  height: 30px;
   background-color: #4CAF50;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: blue;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.sidebar{
  font-size: 15px;
  text-align: center;
  color: white;
}

.inputsBox{
  padding: 4px;
  margin: 5px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;
  order: 4;
}


.imageSize{
  height: 200px;
  width: 200px;
  padding: 5px;
}

.item {
  order: 4;
}

.applied{
  text-align: center;
}
